html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
}

#header {
  height: 50px;
  background: #212121;
  transition: margin-left .5s;
  text-align: center;
}

.hamburger {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  margin-left: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
}

.page-title {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 0;
  margin: 0 auto;
  display: inline;
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

#map {
  height: calc(100vh - 50px);
  transition: margin-left .5s;
  padding: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  color: white;
  text-decoration: none;
}

.loc-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.loc-list-item {
  margin: 10px 0;
  font-size: 10px;
  padding: 5px 3px;
}

.loc-list-a {
  color: white;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (min-width: 750px) {
  #header, #map {
    margin-left: 200px;
  }

  .hamburger, .closebtn {
    display: none;
  }

  .page-title {
    font-size: 30px;
    top: 15%;
  }

  .sidenav {
    width: 200px;
}
