html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 5vh;
  background: green;
  margin: 0;
  padding: 0;
}

.site-name {
  margin: 0;
  border: 0;
}

.hamburger-icon {
  width: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}

.search-icon img {
  width: 10px;
}

#map {
  height: 90vh;
}
